:root {
  --sa-color-dark: #eb002a;
  --sa-color-light: #fff5f7;
  --sa-color-medium: #ff859b;
  --sa-color-primary: #ff385c;

  --sa-radius-sm: 4px;
  --sa-radius-md: 8px;
  --sa-radius-lg: 12px;
  --sa-radius-xl: 16px;
}
